.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 60px;
}

.preview {
    margin-top: 70px;
    width: 100%;
    display: grid;
    column-gap: 60px;
    grid: auto 1fr / 1fr 1fr;
}

.preview_header {
    font-size: 90px;
    font-weight: 700;
}

.preview_text {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.preview_img {
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 1 / 3;
    max-width: 100%;
    align-self: end;
    border-radius: 20px;
    border: 1px solid white;
}

.tags {
    box-sizing: border-box;
    padding: 20px 20px 0 0;
    border-radius: 20px;
    margin-top: -30px;
    align-self: flex-start;
    min-width: 70%;
    width: min-content;
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 32px;
    background-color: #111833;
}

.tag-card {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #FFFFFF4D;
    border-radius: 20px;
    display: flex;
    gap: 10px;
}

.__blue {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
                linear-gradient(115.47deg, rgba(52, 112, 255, 0) 29.55%, #3470FF 131.74%);
}

.__green {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
                linear-gradient(105.51deg, rgba(134, 255, 204, 0) 31.49%, #5BFFBA 131.62%);
}

.tag-card_icon {
    width: 60px;
    height: 60px;
}

.tag-card_header {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
}

.effect-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 170px;
}

.effect-card {
    display: grid;
    grid: 170px / 170px 1fr;
    align-items: center;
    gap: 60px;
}

.effect-card_img {
    width: 100%;
    height: 100%;
}

.effect-card_caption {
    max-width: 320px;
    height: fit-content;
    padding: 15px 22px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #3470FF;
    border-radius: 15px;
    background: radial-gradient(318.12% 393.36% at 109.38% 96.28%, rgba(56, 114, 255, 0) 0%, rgba(56, 114, 255, 0.14) 100%);
    box-shadow: 0px 0px 40px 5px rgba(21, 20, 251, 0.21);
}

.lightgreen {
    color: #00FBA0;
}

.lightyellow {
    color: #FFF500;
}

.mega-button {
    width: 50%;
    margin-top: 80px;
}

.appearance {
    box-sizing: border-box;
    padding: 80px;

    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 100px;
    align-items: start;

    border: 1px solid #3470FF;
    border-radius: 30px;
    background: radial-gradient(318.12% 393.36% at 109.38% 96.28%, rgba(56, 114, 255, 0) 0%, rgba(56, 114, 255, 0.14) 100%);
    box-shadow: 0px 0px 40px 5px rgba(21, 20, 251, 0.21);
}

.appearance_header {
    font-size: 42px;
    margin-bottom: 40px;
}

.appearance_text {
    font-weight: 300;
    font-size: 20px;
}

.appearance_img {
    width: 100%;
    height: 100%;
}

.learning-card_item {
    list-style: square;
    list-style-position: inside;
}

.howto-scheme {
    background: radial-gradient(318.12% 393.36% at 109.38% 96.28%, rgba(56, 114, 255, 0) 0%, rgba(56, 114, 255, 0.14) 100%);
    box-shadow: 0px 0px 40px 5px rgba(21, 20, 251, 0.21);
}

.proposal-list, .learning-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.proposal-card, .learning-card {
    display: grid;
    position: relative;
    box-sizing: border-box;
    padding: 40px 30px;

    background: radial-gradient(318.12% 393.36% at 109.38% 96.28%, rgba(56, 114, 255, 0) 0%, rgba(56, 114, 255, 0.14) 100%);
    border: 2px solid rgba(52, 112, 255);
    box-shadow: 0px 0px 40px 5px rgba(21, 20, 251, 0.21);
    border-radius: 30px;
}

.proposal-card {
    margin-top: 100px;
}

.proposal-card_img {
    width: 100%;
    max-width: 400px;
    position: relative;
    left: -60px;
    top: -100px;
    margin-bottom: -40px;
}

.proposal-card_header, .learning-card_header {
    font-size: 28px;
    font-weight: 600;
    color: #3470FF;
    margin-bottom: 15px;
}

.proposal-card_text, .learning-card_item {
    font-size: 20px;
    font-weight: 300;
}

.proposal-card_more {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.proposal-card_more-icon {
    width: 26px;
    height: 26px;
}

.request_header {
    margin-bottom: 20px;
}

.request_caption {
    font-size: 20px;
    max-width: 680px;
    text-align: center;
}

.form {
    width: 100%;
    margin-top: 40px;
}

.form_inputs {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 60px 150px;
}

.form_input-container {
    padding: 15px 0;
    box-sizing: border-box;
}

.form_input-container.__long {
    grid-column: 1 / 3;
}

.form_input {
    width: 100%;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #3470FF;
    background-color: transparent;
    color: white;
}

.form_input.__error {
    border-bottom-color: red;
}

.form_input-error {
    margin-top: 10px;
    font-size: 20px;
    color: red;
}

.form_caption {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

.policy-link {
    text-decoration: underline;
}

.__link {
    text-decoration: underline;
}

.form_submit {
    margin-top: 40px;
    display: flex;
    justify-content: end;
}

.form_submit-button {
    background-color: transparent;
    background: radial-gradient(318.12% 393.36% at 109.38% 96.28%, rgba(56, 114, 255, 0) 0%, rgba(56, 114, 255, 0.14) 100%);
    border: 2px solid rgba(52, 112, 255);
    box-shadow: 0px 0px 20px 5px rgba(21, 20, 251, 0.21);
    cursor: pointer;
    width: 545px;
    display: flex;
    justify-content: end;
}

.button_big-right-arrow {
    width: 160px;
    height: 40px;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    flex-wrap: wrap;
}

.contacts-card {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
}

.contacts-card_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px solid #3470FF;
    border-top: none;
    border-left: none;
}

.contacts-card_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-card_name {
    font-weight: 500;
    font-size: 24px;
}

.contacts-card_position {
    font-size: 20px;
}

.contacts-card_contact {
    font-size: 24px;
    color: #3470FF;
}

@media screen and (max-width: 1200px) {
    .preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .preview_header {
        font-size: 48px;
    }

    .preview_text {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .preview_img {
        width: 100%;
    }

    .tags {
        gap: 10px;
        min-width: unset;
        width: 100%;
        padding-right: 0;
    }

    .tag-card {
        flex-direction: column;
    }

    .tag-card_header {
        font-size: 20px;
        margin-top: 10px;
    }

    .tag-card_text {
        font-size: 14px;
    }
}


@media screen and (max-width: 1000px) {
    .section_header {
        font-size: 32px;
        text-align: center;
    }

    .effect-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 60px 170px;
    }

    .effect-card {
        grid: 92px / 92px 1fr;
        gap: 20px;
    }

    .effect-card_caption {
        font-size: 14px;
    }

    .appearance {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 20px;
        gap: 15px;
        text-align: center;
    }

    .appearance_header {
        font-size: 24px;
    }

    .appearance_text {
        font-size: 16px;
    }

    .proposal-list, .learning-list {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 40px;
    }

    .proposal-card, .learning-card {
        padding: 30px;
    }

    .proposal-card_header, .learning-card_header {
        font-size: 24px;
    }

    .proposal-card_text, .learning-card_item {
        font-size: 16px;
    }

    .proposal-card {
        margin-top: 50px;
    }

    .proposal-card_img {
        left: -30px;
        top: -50px;
    }

    .request_caption {
        font-size: 16px;
    }

    .form_inputs {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 40px;
    }

    .form_input-container.__long {
        grid-column: unset;
    }

    .form_input {
        font-size: 20px;
    }

    .form_input-error {
        font-size: 14px;
    }

    .contacts-card {
        grid-template-columns: 120px 1fr;
        gap: 30px;
    }

    .contacts-card_img {
        width: 120px;
        height: 120px;
    }

    .contacts-card_info {
        gap: 10px;
    }

    .contacts-card_name {
        font-size: 18px;
    }
    
    .contacts-card_position,
    .contacts-card_contact {
        font-size: 14px;
    }
}
