.header {
    box-sizing: border-box;
    width: 100%;
    padding: 48px 50px;
    z-index: 2;
}

.header_sticks {
    width: 32px;
    height: 18px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navigation > * {
    flex-shrink: 0;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.list_item {
    display: inline-block;
    white-space: nowrap;
}

.list_item:hover {
    color: #3872FF;
}

.side-menu-icon {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.side-menu-icon.__opened {
    align-items: end;
}

.side-menu-icon_line {
    height: 2px;
    background: rgba(23, 91, 255);
}

.side-menu-icon_line.__small {
    width: 15px;
}

.side-menu-icon_line.__medium {
    width: 25px;
}

.side-menu-icon_line.__long {
    width: 35px;
}

.main {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    gap: 150px;

    overflow: hidden;
}

.popup-container {
    position: fixed;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    display: grid;
}

.side-menu {
    position: fixed;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 130px 15px 0 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;

    background-color: #111833;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 20px;
    align-items: center;
}

.side-menu_request-button {
    margin-top: 130px;
}

.footer {
  margin-top: 100px;
  padding: 40px 150px 30px 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  border-top: 1px solid white;
}

@media screen and (max-width: 1400px) {
    .header-list {
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .main-logo {
        height: 43px;
    }

    .header {
        position: fixed;
        background: #111833;
        box-shadow: 0px 0px 20px 0px #FFFFFF20;
        padding: 20px 15px;
    }

    .header-list, .header_request-button {
        display: none;
    }

    .side-menu-icon {
        display: flex;
    }

    .main {
        padding: 100px 15px 0 15px;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 20px 60px 30px 60px;
    }
}
